In [1]:
import pandas as pd

In [2]:
USDA_Macronutrients = pd.read_csv("USDA_Macronutrients.csv")

In [3]:
USDA_Micronutrients = pd.read_csv("USDA_Micronutrients.csv")

In [4]:
USDA_Macronutrients.describe()

                 ID     Calories      Protein     TotalFat  Carbohydrate
count   7057.000000  7057.000000  7057.000000  7057.000000   7057.000000
mean   14258.441122   219.695338    11.710368    10.320614     20.697860
std     8577.003755   172.198755    10.919356    16.814191     27.630443
min     1001.000000     0.000000     0.000000     0.000000      0.000000
25%     8387.000000    85.000000     2.290000     0.720000      0.000000
50%    13293.000000   181.000000     8.200000     4.370000      7.130000
75%    18336.000000   331.000000    20.430000    12.700000     28.170000
max    93600.000000   902.000000    88.320000   100.000000    100.000000

In [5]:
USDA_Micronutrients.describe()

,ID,Cholesterol,Sugar,Calcium,Iron,VitaminC,VitaminE,VitaminD
count,7057.000000,6770.000000,5148.000000,6922.000000,6935.000000,6726.000000,4338.000000,4224.000000
mean,14258.441122,41.551994,8.256540,73.530627,2.828368,9.435980,1.487462,0.576918
std,8577.003755,122.963028,15.361509,222.445338,6.019878,71.256536,5.386914,4.301147
min,1001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8387.000000,0.000000,0.000000,9.000000,0.520000,0.000000,0.120000,0.000000
50%,13293.000000,3.000000,1.395000,19.000000,1.330000,0.000000,0.270000,0.000000
75%,18336.000000,69.000000,7.875000,56.000000,2.620000,3.100000,0.710000,0.100000
max,93600.000000,3100.000000,99.800000,7364.000000,123.600000,2400.000000,149.400000,250.000000

In [6]:
# If we want to join using the key columns, 
# we need to set key to be the index in both df and other. 
# The joined DataFrame will have key as its index.

USDA = USDA_Macronutrients.set_index("ID").join(USDA_Micronutrients.set_index("ID"),how = "inner").sort_values(by = "ID")
USDA

,Description,Calories,Protein,TotalFat,Carbohydrate,Sodium,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD
ID,,,,,,,,,,,,,,
1001,"BUTTER,WITH SALT",717,0.85,81.11,0.06,714,215.0,0.06,24.0,0.02,24,0.0,2.32,1.5
1002,"BUTTER,WHIPPED,WITH SALT",717,0.85,81.11,0.06,827,219.0,0.06,24.0,0.16,26,0.0,2.32,1.5
1003,"BUTTER OIL,ANHYDROUS",876,0.28,99.48,0.00,2,256.0,0.00,4.0,0.00,5,0.0,2.80,1.8
1004,"CHEESE,BLUE",353,21.40,28.74,2.34,"1,395",75.0,0.50,528.0,0.31,256,0.0,0.25,0.5
1005,"CHEESE,BRICK",371,23.24,29.68,2.79,560,94.0,0.51,674.0,0.43,136,0.0,0.26,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80200,"FROG LEGS,RAW",73,16.40,0.30,0.00,58,50.0,0.00,18.0,1.50,285,0.0,1.00,0.2
83110,"MACKEREL,SALTED",305,18.50,25.10,0.00,"4,450",95.0,0.00,66.0,1.40,520,0.0,2.38,25.2
90240,"SCALLOP,(BAY&SEA),CKD,STMD",111,20.54,0.84,5.41,667,41.0,0.00,10.0,0.58,314,0.0,0.00,0.0
90560,"SNAIL,RAW",90,16.10,1.40,2.00,70,50.0,0.00,10.0,3.50,382,0.0,5.00,0.0
93600,"TURTLE,GREEN,RAW",89,19.80,0.50,0.00,68,50.0,0.00,118.0,1.40,230,0.0,0.50,0.0

In [7]:
# Remove the records with missing values of 4 or more vectors from the the new data frame

USDA = USDA.dropna(axis = 0, thresh = len(USDA.columns)-4) 
# thresh = # of non-NA values
# inplace

In [8]:
USDA
# Col: Sodium, Potassium are mixed with different data type, contian int and string
# Need to convert the data type first

,Description,Calories,Protein,TotalFat,Carbohydrate,Sodium,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD
ID,,,,,,,,,,,,,,
1001,"BUTTER,WITH SALT",717,0.85,81.11,0.06,714,215.0,0.06,24.0,0.02,24,0.0,2.32,1.5
1002,"BUTTER,WHIPPED,WITH SALT",717,0.85,81.11,0.06,827,219.0,0.06,24.0,0.16,26,0.0,2.32,1.5
1003,"BUTTER OIL,ANHYDROUS",876,0.28,99.48,0.00,2,256.0,0.00,4.0,0.00,5,0.0,2.80,1.8
1004,"CHEESE,BLUE",353,21.40,28.74,2.34,"1,395",75.0,0.50,528.0,0.31,256,0.0,0.25,0.5
1005,"CHEESE,BRICK",371,23.24,29.68,2.79,560,94.0,0.51,674.0,0.43,136,0.0,0.26,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80200,"FROG LEGS,RAW",73,16.40,0.30,0.00,58,50.0,0.00,18.0,1.50,285,0.0,1.00,0.2
83110,"MACKEREL,SALTED",305,18.50,25.10,0.00,"4,450",95.0,0.00,66.0,1.40,520,0.0,2.38,25.2
90240,"SCALLOP,(BAY&SEA),CKD,STMD",111,20.54,0.84,5.41,667,41.0,0.00,10.0,0.58,314,0.0,0.00,0.0
90560,"SNAIL,RAW",90,16.10,1.40,2.00,70,50.0,0.00,10.0,3.50,382,0.0,5.00,0.0
93600,"TURTLE,GREEN,RAW",89,19.80,0.50,0.00,68,50.0,0.00,118.0,1.40,230,0.0,0.50,0.0

In [10]:
# Convert data type
# Series.apply(func, convert_dtype=True, args=(), **kwargs)
USDA.loc[:,"Sodium"] = USDA["Sodium"].apply(lambda x: str(x).replace(",", "")).astype(float)
USDA.loc[:,"Potassium"] = USDA["Potassium"].apply(lambda x: str(x).replace(",", "")).astype(float)
USDA

/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/310621346.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USDA.loc[:,"Sodium"] = USDA["Sodium"].apply(lambda x: str(x).replace(",", "")).astype(float)
/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/310621346.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USDA.loc[:,"Potassium"] = USDA["Potassium"].apply(lambda x: str(x).replace(",", "")).astype(float)

,Description,Calories,Protein,TotalFat,Carbohydrate,Sodium,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD
ID,,,,,,,,,,,,,,
1001,"BUTTER,WITH SALT",717,0.85,81.11,0.06,714.0,215.0,0.06,24.0,0.02,24.0,0.0,2.32,1.5
1002,"BUTTER,WHIPPED,WITH SALT",717,0.85,81.11,0.06,827.0,219.0,0.06,24.0,0.16,26.0,0.0,2.32,1.5
1003,"BUTTER OIL,ANHYDROUS",876,0.28,99.48,0.00,2.0,256.0,0.00,4.0,0.00,5.0,0.0,2.80,1.8
1004,"CHEESE,BLUE",353,21.40,28.74,2.34,1395.0,75.0,0.50,528.0,0.31,256.0,0.0,0.25,0.5
1005,"CHEESE,BRICK",371,23.24,29.68,2.79,560.0,94.0,0.51,674.0,0.43,136.0,0.0,0.26,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80200,"FROG LEGS,RAW",73,16.40,0.30,0.00,58.0,50.0,0.00,18.0,1.50,285.0,0.0,1.00,0.2
83110,"MACKEREL,SALTED",305,18.50,25.10,0.00,4450.0,95.0,0.00,66.0,1.40,520.0,0.0,2.38,25.2
90240,"SCALLOP,(BAY&SEA),CKD,STMD",111,20.54,0.84,5.41,667.0,41.0,0.00,10.0,0.58,314.0,0.0,0.00,0.0
90560,"SNAIL,RAW",90,16.10,1.40,2.00,70.0,50.0,0.00,10.0,3.50,382.0,0.0,5.00,0.0
93600,"TURTLE,GREEN,RAW",89,19.80,0.50,0.00,68.0,50.0,0.00,118.0,1.40,230.0,0.0,0.50,0.0

In [11]:
USDA[["Sugar","VitaminE","VitaminD"]] = USDA[["Sugar","VitaminE","VitaminD"]].fillna(USDA.mean())

/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/3731421667.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  USDA[["Sugar","VitaminE","VitaminD"]] = USDA[["Sugar","VitaminE","VitaminD"]].fillna(USDA.mean())
/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/3731421667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USDA[["Sugar","VitaminE","VitaminD"]] = USDA[["Sugar","VitaminE","VitaminD"]].fillna(USDA.mean())

In [12]:
USDA = USDA.dropna()
USDA

,Description,Calories,Protein,TotalFat,Carbohydrate,Sodium,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD
ID,,,,,,,,,,,,,,
1001,"BUTTER,WITH SALT",717,0.85,81.11,0.06,714.0,215.0,0.06,24.0,0.02,24.0,0.0,2.32,1.5
1002,"BUTTER,WHIPPED,WITH SALT",717,0.85,81.11,0.06,827.0,219.0,0.06,24.0,0.16,26.0,0.0,2.32,1.5
1003,"BUTTER OIL,ANHYDROUS",876,0.28,99.48,0.00,2.0,256.0,0.00,4.0,0.00,5.0,0.0,2.80,1.8
1004,"CHEESE,BLUE",353,21.40,28.74,2.34,1395.0,75.0,0.50,528.0,0.31,256.0,0.0,0.25,0.5
1005,"CHEESE,BRICK",371,23.24,29.68,2.79,560.0,94.0,0.51,674.0,0.43,136.0,0.0,0.26,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80200,"FROG LEGS,RAW",73,16.40,0.30,0.00,58.0,50.0,0.00,18.0,1.50,285.0,0.0,1.00,0.2
83110,"MACKEREL,SALTED",305,18.50,25.10,0.00,4450.0,95.0,0.00,66.0,1.40,520.0,0.0,2.38,25.2
90240,"SCALLOP,(BAY&SEA),CKD,STMD",111,20.54,0.84,5.41,667.0,41.0,0.00,10.0,0.58,314.0,0.0,0.00,0.0
90560,"SNAIL,RAW",90,16.10,1.40,2.00,70.0,50.0,0.00,10.0,3.50,382.0,0.0,5.00,0.0
93600,"TURTLE,GREEN,RAW",89,19.80,0.50,0.00,68.0,50.0,0.00,118.0,1.40,230.0,0.0,0.50,0.0

In [13]:
# Finds the maximun number of sodium
USDA["Sodium"].max()

38758.0

In [14]:
USDA[["Sodium"]].max()

Sodium    38758.0
dtype: float64

In [15]:
USDA["Sodium"].idxmax()

2047

In [16]:
USDA[["Sodium"]].idxmax()

Sodium    2047
dtype: int64

In [17]:
#Add a new column named "HighCals", if the calorie value is higher than mean, assign "1", otherwise "0"
USDA["HighCals"] = (USDA["Calories"] > USDA["Calories"].mean()).astype("int")
USDA

/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/1535552521.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USDA["HighCals"] = (USDA["Calories"] > USDA["Calories"].mean()).astype("int")

,Description,Calories,Protein,TotalFat,Carbohydrate,Sodium,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD,HighCals
ID,,,,,,,,,,,,,,,
1001,"BUTTER,WITH SALT",717,0.85,81.11,0.06,714.0,215.0,0.06,24.0,0.02,24.0,0.0,2.32,1.5,1
1002,"BUTTER,WHIPPED,WITH SALT",717,0.85,81.11,0.06,827.0,219.0,0.06,24.0,0.16,26.0,0.0,2.32,1.5,1
1003,"BUTTER OIL,ANHYDROUS",876,0.28,99.48,0.00,2.0,256.0,0.00,4.0,0.00,5.0,0.0,2.80,1.8,1
1004,"CHEESE,BLUE",353,21.40,28.74,2.34,1395.0,75.0,0.50,528.0,0.31,256.0,0.0,0.25,0.5,1
1005,"CHEESE,BRICK",371,23.24,29.68,2.79,560.0,94.0,0.51,674.0,0.43,136.0,0.0,0.26,0.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80200,"FROG LEGS,RAW",73,16.40,0.30,0.00,58.0,50.0,0.00,18.0,1.50,285.0,0.0,1.00,0.2,0
83110,"MACKEREL,SALTED",305,18.50,25.10,0.00,4450.0,95.0,0.00,66.0,1.40,520.0,0.0,2.38,25.2,1
90240,"SCALLOP,(BAY&SEA),CKD,STMD",111,20.54,0.84,5.41,667.0,41.0,0.00,10.0,0.58,314.0,0.0,0.00,0.0,0
90560,"SNAIL,RAW",90,16.10,1.40,2.00,70.0,50.0,0.00,10.0,3.50,382.0,0.0,5.00,0.0,0
93600,"TURTLE,GREEN,RAW",89,19.80,0.50,0.00,68.0,50.0,0.00,118.0,1.40,230.0,0.0,0.50,0.0,0

In [19]:
# Based on the "HighClas", group by "0" and "1", and get the mean value of all columns
USDA.groupby(by = "HighCals").mean()

,Calories,Protein,TotalFat,Carbohydrate,Sodium,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD
HighCals,,,,,,,,,,,,,
0,110.164912,11.321814,3.709352,7.984761,270.204318,45.074764,4.678935,42.992173,1.499884,257.913900,9.820729,0.769428,0.469208
1,384.234549,13.550088,20.156833,38.994338,402.735125,39.522457,12.943354,117.323225,4.788672,370.369674,8.521228,2.356620,0.714849

In [20]:
# Based on the "HighClas", group by "0" and "1", and get the mean value of iron
USDA.groupby(by = "HighCals").mean()[["Iron"]]

              Iron
HighCals
0         1.499884
1         4.788672

In [21]:
USDA.groupby(by = "HighCals").mean()["Iron"]

HighCals
0    1.499884
1    4.788672
Name: Iron, dtype: float64

In [22]:
USDA.groupby(by = "HighCals").mean().loc[:,"Iron"]

HighCals
0    1.499884
1    4.788672
Name: Iron, dtype: float64

In [23]:
USDA["Sugar"]   # [] will return a series

ID
1001     0.06
1002     0.06
1003     0.00
1004     0.50
1005     0.51
         ...
80200    0.00
83110    0.00
90240    0.00
90560    0.00
93600    0.00
Name: Sugar, Length: 6310, dtype: float64

In [24]:
USDA[["Sugar"]]  # [[]] will return a dataframe

       Sugar
ID
1001    0.06
1002    0.06
1003    0.00
1004    0.50
1005    0.51
...      ...
80200   0.00
83110   0.00
90240   0.00
90560   0.00
93600   0.00

[6310 rows x 1 columns]

In [25]:
# DataFrame.corr(method='pearson', min_periods=1)  
# Compute pairwise correlation of columns, excluding NA/null values.
USDA.corr()

,Calories,Protein,TotalFat,Carbohydrate,Sodium,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD,HighCals
Calories,1.000000,0.122123,0.804495,0.424606,0.032321,0.023919,0.251595,0.102523,0.191138,0.078624,-0.033352,0.318032,0.079303,0.792403
Protein,0.122123,1.000000,0.057036,-0.304711,-0.003489,0.269855,-0.265833,0.034772,0.109574,0.219612,-0.069278,-0.049007,0.028754,0.099950
TotalFat,0.804495,0.057036,1.000000,-0.124343,0.002916,0.093290,-0.069250,0.001210,-0.054426,-0.052984,-0.059719,0.339399,0.080043,0.482124
Carbohydrate,0.424606,-0.304711,-0.124343,1.000000,0.046839,-0.219380,0.609142,0.181180,0.372039,0.150724,0.089551,0.078174,-0.001973,0.548165
Sodium,0.032321,-0.003489,0.002916,0.046839,1.000000,-0.017775,-0.003443,0.179826,0.025359,-0.010754,-0.014114,-0.004914,0.009247,0.059888
Cholesterol,0.023919,0.269855,0.093290,-0.219380,-0.017775,1.000000,-0.108598,-0.034971,0.002720,-0.020264,-0.028071,-0.034547,0.085579,-0.021649
Sugar,0.251595,-0.265833,-0.069250,0.609142,-0.003443,-0.108598,1.000000,0.089444,0.118745,0.022485,0.047692,0.025693,0.018155,0.310299
Calcium,0.102523,0.034772,0.001210,0.181180,0.179826,-0.034971,0.089444,1.000000,0.333053,0.246325,0.125367,0.099311,0.029778,0.161878
Iron,0.191138,0.109574,-0.054426,0.372039,0.025359,0.002720,0.118745,0.333053,1.000000,0.219763,0.065691,0.162959,0.042805,0.268873
Potassium,0.078624,0.219612,-0.052984,0.150724,-0.010754,-0.020264,0.022485,0.246325,0.219763,1.000000,0.158706,0.034156,-0.009006,0.130666
VitaminC,-0.033352,-0.069278,-0.059719,0.089551,-0.014114,-0.028071,0.047692,0.125367,0.065691,0.158706,1.000000,0.048323,0.002289,-0.008766
VitaminE,0.318032,-0.049007,0.339399,0.078174,-0.004914,-0.034547,0.025693,0.099311,0.162959,0.034156,0.048323,1.000000,0.028027,0.186029
VitaminD,0.079303,0.028754,0.080043,-0.001973,0.009247,0.085579,0.018155,0.029778,0.042805,-0.009006,0.002289,0.028027,1.000000,0.034452
HighCals,0.792403,0.099950,0.482124,0.548165,0.059888,-0.021649,0.310299,0.161878,0.268873,0.130666,-0.008766,0.186029,0.034452,1.000000

In [26]:
# Calculate the correlation between calories and iron
# Series.corr(other, method='pearson', min_periods=None)
USDA["Calories"].corr(USDA["Iron"])

0.19113771559176249

In [27]:
# Find the variable that has the highest correlation with calories
USDA.corr().sort_values(by = "Calories", ascending = False)

,Calories,Protein,TotalFat,Carbohydrate,Sodium,Cholesterol,Sugar,Calcium,Iron,Potassium,VitaminC,VitaminE,VitaminD,HighCals
Calories,1.000000,0.122123,0.804495,0.424606,0.032321,0.023919,0.251595,0.102523,0.191138,0.078624,-0.033352,0.318032,0.079303,0.792403
TotalFat,0.804495,0.057036,1.000000,-0.124343,0.002916,0.093290,-0.069250,0.001210,-0.054426,-0.052984,-0.059719,0.339399,0.080043,0.482124
HighCals,0.792403,0.099950,0.482124,0.548165,0.059888,-0.021649,0.310299,0.161878,0.268873,0.130666,-0.008766,0.186029,0.034452,1.000000
Carbohydrate,0.424606,-0.304711,-0.124343,1.000000,0.046839,-0.219380,0.609142,0.181180,0.372039,0.150724,0.089551,0.078174,-0.001973,0.548165
VitaminE,0.318032,-0.049007,0.339399,0.078174,-0.004914,-0.034547,0.025693,0.099311,0.162959,0.034156,0.048323,1.000000,0.028027,0.186029
Sugar,0.251595,-0.265833,-0.069250,0.609142,-0.003443,-0.108598,1.000000,0.089444,0.118745,0.022485,0.047692,0.025693,0.018155,0.310299
Iron,0.191138,0.109574,-0.054426,0.372039,0.025359,0.002720,0.118745,0.333053,1.000000,0.219763,0.065691,0.162959,0.042805,0.268873
Protein,0.122123,1.000000,0.057036,-0.304711,-0.003489,0.269855,-0.265833,0.034772,0.109574,0.219612,-0.069278,-0.049007,0.028754,0.099950
Calcium,0.102523,0.034772,0.001210,0.181180,0.179826,-0.034971,0.089444,1.000000,0.333053,0.246325,0.125367,0.099311,0.029778,0.161878
VitaminD,0.079303,0.028754,0.080043,-0.001973,0.009247,0.085579,0.018155,0.029778,0.042805,-0.009006,0.002289,0.028027,1.000000,0.034452
Potassium,0.078624,0.219612,-0.052984,0.150724,-0.010754,-0.020264,0.022485,0.246325,0.219763,1.000000,0.158706,0.034156,-0.009006,0.130666
Sodium,0.032321,-0.003489,0.002916,0.046839,1.000000,-0.017775,-0.003443,0.179826,0.025359,-0.010754,-0.014114,-0.004914,0.009247,0.059888
Cholesterol,0.023919,0.269855,0.093290,-0.219380,-0.017775,1.000000,-0.108598,-0.034971,0.002720,-0.020264,-0.028071,-0.034547,0.085579,-0.021649
VitaminC,-0.033352,-0.069278,-0.059719,0.089551,-0.014114,-0.028071,0.047692,0.125367,0.065691,0.158706,1.000000,0.048323,0.002289,-0.008766

In [28]:
D = USDA[["Description"]]
D

                      Description
ID
1001             BUTTER,WITH SALT
1002     BUTTER,WHIPPED,WITH SALT
1003         BUTTER OIL,ANHYDROUS
1004                  CHEESE,BLUE
1005                 CHEESE,BRICK
...                           ...
80200               FROG LEGS,RAW
83110             MACKEREL,SALTED
90240  SCALLOP,(BAY&SEA),CKD,STMD
90560                   SNAIL,RAW
93600            TURTLE,GREEN,RAW

[6310 rows x 1 columns]

In [29]:
# Count USDA has how many records
len(USDA.index)

6310

In [30]:
USDA["HighPo"] = (USDA["Protein"] > USDA["Protein"].mean()).astype(int)
USDA["HighFat"] = (USDA["TotalFat"] > USDA["TotalFat"].mean()).astype(int)
USDA["HighCar"] = (USDA["Carbohydrate"] > USDA["Carbohydrate"].mean()).astype(int)
USDA["HighSo"] = (USDA["Sodium"] > USDA["Sodium"].mean()).astype(int)
USDA["HighCho"] = (USDA["Cholesterol"] > USDA["Cholesterol"].mean()).astype(int)
USDA["HighSugar"] = (USDA["Sugar"] > USDA["Sugar"].mean()).astype(int)

/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/1353121722.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USDA["HighPo"] = (USDA["Protein"] > USDA["Protein"].mean()).astype(int)
/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/1353121722.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USDA["HighFat"] = (USDA["TotalFat"] > USDA["TotalFat"].mean()).astype(int)
/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/1353121722.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USDA["HighCar"] = (USDA["Carbohydrate"] > USDA["Carbohydrate"].mean()).astype(int)
/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/1353121722.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USDA["HighSo"] = (USDA["Sodium"] > USDA["Sodium"].mean()).astype(int)
/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/1353121722.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USDA["HighCho"] = (USDA["Cholesterol"] > USDA["Cholesterol"].mean()).astype(int)
/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/1353121722.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USDA["HighSugar"] = (USDA["Sugar"] > USDA["Sugar"].mean()).astype(int)

In [31]:
# Find how many foods has both high calories and high sugar
USDA.groupby(by = "HighCals").get_group(1).groupby(by = "HighSugar").get_group(1)[["Description"]]

                                             Description
ID
1008                                      CHEESE,CARAWAY
1010                                     CHEESE,CHESHIRE
1021                                      CHEESE,GJETOST
1039                                    CHEESE,ROQUEFORT
1041                                       CHEESE,TILSIT
...                                                  ...
43595             BREAKFAST BAR,CORN FLAKE CRUST W/FRUIT
44018                   SWEETENERS,TABLETOP,FRUCTOSE,LIQ
44048  CHEESE FD,PAST PROCESS,AMERICAN,IMITN,WO/ ADDE...
44055                                CELERY FLAKES,DRIED
44203               COCKTAIL MIX,NON-ALCOHOLIC,CONCD,FRZ

[1378 rows x 1 columns]

In [32]:
# Add a new column "HealthCheck", if the food has 3 or more high records, the food will be labeled with "Failed", otherwise "Pass"
def check(df):
    for i in df.index:
        if sum(df.loc[i,["HighCals","HighSo","HighPo","HighFat","HighCho","HighSugar"]].values) >= 3:
            df.loc[i,"HeathCheck"] = "Failed"
        else:
            df.loc[i,"HeathCheck"] = "Pass"
check(USDA) 
USDA

/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/1442766426.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[i,"HeathCheck"] = "Failed"

,Description,Calories,Protein,TotalFat,Carbohydrate,Sodium,Cholesterol,Sugar,Calcium,Iron,...,VitaminE,VitaminD,HighCals,HighPo,HighFat,HighCar,HighSo,HighCho,HighSugar,HeathCheck
ID,,,,,,,,,,,,,,,,,,,,,
1001,"BUTTER,WITH SALT",717,0.85,81.11,0.06,714.0,215.0,0.06,24.0,0.02,...,2.32,1.5,1,0,1,0,1,1,0,Failed
1002,"BUTTER,WHIPPED,WITH SALT",717,0.85,81.11,0.06,827.0,219.0,0.06,24.0,0.16,...,2.32,1.5,1,0,1,0,1,1,0,Failed
1003,"BUTTER OIL,ANHYDROUS",876,0.28,99.48,0.00,2.0,256.0,0.00,4.0,0.00,...,2.80,1.8,1,0,1,0,0,1,0,Failed
1004,"CHEESE,BLUE",353,21.40,28.74,2.34,1395.0,75.0,0.50,528.0,0.31,...,0.25,0.5,1,1,1,0,1,1,0,Failed
1005,"CHEESE,BRICK",371,23.24,29.68,2.79,560.0,94.0,0.51,674.0,0.43,...,0.26,0.5,1,1,1,0,1,1,0,Failed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80200,"FROG LEGS,RAW",73,16.40,0.30,0.00,58.0,50.0,0.00,18.0,1.50,...,1.00,0.2,0,1,0,0,0,1,0,Pass
83110,"MACKEREL,SALTED",305,18.50,25.10,0.00,4450.0,95.0,0.00,66.0,1.40,...,2.38,25.2,1,1,1,0,1,1,0,Failed
90240,"SCALLOP,(BAY&SEA),CKD,STMD",111,20.54,0.84,5.41,667.0,41.0,0.00,10.0,0.58,...,0.00,0.0,0,1,0,0,1,0,0,Pass
90560,"SNAIL,RAW",90,16.10,1.40,2.00,70.0,50.0,0.00,10.0,3.50,...,5.00,0.0,0,1,0,0,0,1,0,Pass
93600,"TURTLE,GREEN,RAW",89,19.80,0.50,0.00,68.0,50.0,0.00,118.0,1.40,...,0.50,0.0,0,1,0,0,0,1,0,Pass

In [34]:
# Alternative method
USDA["High"] = USDA["HighCals"] + USDA["HighSo"] + USDA["HighPo"] + USDA["HighFat"] + USDA["HighCho"] + USDA["HighSugar"]
USDA['HealthCheck1'] = USDA['High'] < 3
USDA

/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/2983051362.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USDA["High"] = USDA["HighCals"] + USDA["HighSo"] + USDA["HighPo"] + USDA["HighFat"] + USDA["HighCho"] + USDA["HighSugar"]
/var/folders/q1/shn782x107n4krlmry00qrbr0000gn/T/ipykernel_18327/2983051362.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USDA['HealthCheck1'] = USDA['High'] < 3

,Description,Calories,Protein,TotalFat,Carbohydrate,Sodium,Cholesterol,Sugar,Calcium,Iron,...,HighCals,HighPo,HighFat,HighCar,HighSo,HighCho,HighSugar,HeathCheck,High,HealthCheck1
ID,,,,,,,,,,,,,,,,,,,,,
1001,"BUTTER,WITH SALT",717,0.85,81.11,0.06,714.0,215.0,0.06,24.0,0.02,...,1,0,1,0,1,1,0,Failed,4,False
1002,"BUTTER,WHIPPED,WITH SALT",717,0.85,81.11,0.06,827.0,219.0,0.06,24.0,0.16,...,1,0,1,0,1,1,0,Failed,4,False
1003,"BUTTER OIL,ANHYDROUS",876,0.28,99.48,0.00,2.0,256.0,0.00,4.0,0.00,...,1,0,1,0,0,1,0,Failed,3,False
1004,"CHEESE,BLUE",353,21.40,28.74,2.34,1395.0,75.0,0.50,528.0,0.31,...,1,1,1,0,1,1,0,Failed,5,False
1005,"CHEESE,BRICK",371,23.24,29.68,2.79,560.0,94.0,0.51,674.0,0.43,...,1,1,1,0,1,1,0,Failed,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80200,"FROG LEGS,RAW",73,16.40,0.30,0.00,58.0,50.0,0.00,18.0,1.50,...,0,1,0,0,0,1,0,Pass,2,True
83110,"MACKEREL,SALTED",305,18.50,25.10,0.00,4450.0,95.0,0.00,66.0,1.40,...,1,1,1,0,1,1,0,Failed,5,False
90240,"SCALLOP,(BAY&SEA),CKD,STMD",111,20.54,0.84,5.41,667.0,41.0,0.00,10.0,0.58,...,0,1,0,0,1,0,0,Pass,2,True
90560,"SNAIL,RAW",90,16.10,1.40,2.00,70.0,50.0,0.00,10.0,3.50,...,0,1,0,0,0,1,0,Pass,2,True
93600,"TURTLE,GREEN,RAW",89,19.80,0.50,0.00,68.0,50.0,0.00,118.0,1.40,...,0,1,0,0,0,1,0,Pass,2,True